venv/
__pycache__/
*.pyc
*.pyo
*.pyd

logs/*.csv
logs/*.log
logs/*.json

experiments/results/
datasets/raw/
datasets/processed/

*.pcap
*.pcapng

.env
.DS_Store

ml-service/models/*.pkl
ml-service/models/*.pt
ml-service/models/*.joblib
